<h1>Employee log-in Central</h1>
<p id="success"><%= flash[:success] %></p>
<% @readings.each do |reading| %>
<p>
    <tr>
        <td><%= reading.name %></td>
        <td><%= reading.user_id %></td>
        <td><%= Reading.search(reading.user_id).name %></td>
    </tr>
</p>
<% end %>
<%= link_to 'Add New User', new_reading_path %>